<html>
<head>
	<title>Post lists</title>
</head>
<body>
	<% @posts.each do |post| %>
	<div>
		<%= post.title %>
		<br>
		<%= post.author %>
		<br>
		<%= post.description %>
		<br>
		$<%= post.price %>
	</div>
	<br>
	<% end %>

</body>
</html>